bleach==2.0.0
buildozer==0.33
certifi==2017.4.17
chardet==3.0.4
click==6.7
Cython==0.25.2
Django==1.11.5
docutils==0.13.1
first==2.0.1
Flask==0.12.2
gunicorn==19.7.1
html5lib==0.999999999
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pew==0.1.26
pexpect==4.2.1
pip-tools==1.9.0
pipenv==6.2.3
postgres==2.2.1
psycopg2==2.7.2
ptyprocess==0.5.2
pythonz-bd==1.11.4
pytz==2017.2
requests==2.18.1
resumable-urlretrieve==0.1.5
semver==2.7.8
six==1.10.0
urllib3==1.21.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
webencodings==0.5.1
Werkzeug==0.12.2
